<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IBook" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/WCF/Books" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IBook" contract="BooksReference.IBook"
                name="WSDualHttpBinding_IBook">
                <identity>
                    <userPrincipalName value="PC-ADRIAN\adria" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>